@import '../../../assets/scss/_variables';
@import '../../../assets/scss/_mixins';

.final-checkout{
  margin-top: 100px;
  .sub-item{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 17.28%;
  }
  h2{
    font-weight: bold;
    border-bottom: solid 0.3px grey;
    padding-bottom:20px;
  }
  .header-row{
    display:flex;
    width:100%;
    justify-content: space-between;
    border-bottom: solid 0.3px grey;
    padding-bottom:20px;
    padding-top:20px;
  }
  .body-row{
    display:flex;
    width:100%;
    justify-content: space-between;
    border-bottom: solid 0.3px grey;
    padding-bottom:20px;
    padding-top:20px;
  }
}

.checkout-row{
  display:flex;
  justify-content: flex-end;
  .submit{
    background-color: #FABA0C;
    border: none;
    font-size: 14px;
    font-family: "Tyros Pro";
    color: white;
    padding: 15px 35px 15px 35px;
    margin-top: 15px;
    cursor: pointer;
  }
}