@import "../../assets/scss/_variables";
@import "../../assets/scss/_mixins";

.background-wrapper {
  background-color: black;
  height: 650px;
  background-image: url("/static/images/background-image.png");
  background-repeat: none;
  background-size: cover;
}