
.about-wrapper {
  padding-top: $default-margin-top-big-desktop;
  padding-left: $default-margin-left-big-desktop;
  padding-right: $default-margin-right-big-desktop;
  width: $default-width-big-desktop;
}

.image {
  box-sizing: border-box;
  width:42%;

  img {
    position: relative;
    width: 85%;
  }
}

.text {
  box-sizing: border-box;
  width:58%;
  h2 {

  }
}

section {
  &.right {
    .image {
      float:right;
      text-align:left;
      img {
        right: 0;
        display:inline-block;
      }
    }
    .text {
      float:right;
    }
  }

  &.left {
    .image {
      float:left;
      text-align:right;
      img {
        left: 0;
      }
    }
    .text {
      float:left;
    }
  }
}
