.page-wrapper {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 50px;
  &.checkout {
    padding-top: 100px;
  }
  @include for-phone-only {
    padding-left: 5%;
    padding-right: 5%;
  }
  h2{
    font-weight:normal;
  }
}

.flex-row{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 250px;
  flex-wrap: wrap;
}

.support {
  @include for-phone-only {
    width:100%;
  }
  a{
    color: $yellow;
    font-weight:bold;
  }
  width:30%;
  span{
    font-size:12px;
  }
}
