$special-background: #f9f9f9;
$special-background-border: #ccc;

h2 {
  font-weight:normal;
}

.checkout-wrapper {
  padding-top: $default-margin-top-big-desktop;
  padding-left: $default-margin-left-big-desktop;
  padding-right: $default-margin-right-big-desktop;
  width: $default-width-big-desktop;

  box-sizing: border-box;

  @include for-phone-only {
    margin: 0;
  }
  .cart-item{
    width:100%;
    display: block;

    .availabilityImage {
      width:20px;
      height:20px;
      @include for-phone-only {
        width:15px;
        height:15px;
      }
    }

    .row {
      box-sizing: border-box;
      width:100%;
      height: auto;
      padding: 10px 0px;
      display: block;
      // float:left;

      display:flex;
      align-items: center;
      justify-content: space-between;

      @include for-tablet-portrait-lower {
        display: flex;
        align-items:center;
        justify-content: space-between;
      }
      @include for-phone-only {
        margin-bottom: 40px;
        border-bottom: 0.25px solid #C4C4C4;
      }

      // Generic column styles
      .column {
        box-sizing: border-box;
        display: block;
        @include for-tablet-portrait-lower {
          font-size: 0.7rem;
          // display: flex;
          align-items:center;
          justify-content: center;
        }

        @include for-phone-only {
          padding: 0px;
        }

        &.heading {
          font-weight: bold;
        }

        &.center {
          // text-align: center;
        }
        button {
          border: none;
          cursor: pointer;
          &.yellow-chevron {
            color: $yellow;
            font-size: 20px;
          }
        }
      }

      // delete
      .column:first-child {
        width:40px;
        text-align:left;
        button {
          background: transparent;
        }
        @include for-tablet-portrait-lower {
          width:25px;
        }
        @include for-phone-only {
          button {
            font-size: 0.6rem;
          }
        }
      }

      // product
      .column:nth-child(2) {
        width:13%;
        small {
          font-size: 0.4rem;
        }
        @include for-phone-only {
          width: 20%;
          display: block;
          float: left;
        }
      }

      // qty
      .column:nth-child(3) {
        width:10%;
        @include for-tablet-portrait-lower {
          width:20%;
        }
        @include for-phone-only {
          width: 20%;
          display: block;
          float: left;
        }
      }

      // price
      .column:nth-child(4) {
        width:8%;
        @include for-tablet-portrait-lower {
          width:8%;
        }
        @include for-phone-only {
          width: 18%;
          display: block;
          float: left;
          text-align: center;
        }
      }

      // pick up
      .column:nth-child(5) {
        width: 12%;
        @include for-tablet-portrait-lower {
          width:8%;
        }
        @include for-phone-only {
          display: none;
        }
      }

      // drop off
      .column:nth-child(6) {
        width: 12%;
        @include for-tablet-portrait-lower {
          width:8%;
        }
        @include for-phone-only {
          display: none;
        }
      }

      // availability
      .column:nth-child(7) {
        width:7%;
        text-align:center;
        @include for-phone-only {
          width: 20px;
          float: left;
          display: block;
          text-align: right;
          &.heading {
            visibility: hidden;
          }
        }
      }

      // Warning message
      .column:nth-child(8) {
        width:15%;
        a {
          margin-top: 8px;
        }
        @include for-tablet-portrait-lower {
          display: none;
        }
        @include for-phone-only {
          // width: 50%;
          display: none;
          float: right;
        }
      }

      // drop down button
      .column:nth-child(9) {
        width: 30px;
        @include for-tablet-portrait-lower {
          float: right;
        }
        @include for-phone-only {
          width: 50%;
          background: #cccccc;
          display: none;
          float: left;
        }
      }
    }

    &.isMobile {
      .row {
        margin-bottom: 0;
      }
    }

    .mobileExtraOpen {
      background: $special-background;
      border-top: 1px dotted $special-background-border;
      .row {
        margin: 0px;
        &.generalInformation {
          background: $special-background;
        }
      }
      .column {
        &.pickupDroppoff {

          width:50%;
        }
      }
      .column {
        &.availabilityMessage {
          width:50%;
        }
      }
    }

    .counter {
      display:flex;
      align-items: center;
      justify-content: space-between;
      font-size:2rem;
      .center {
        display: block !important;
      }
      @include for-phone-only {
        font-size:1.5rem;
      }
      .subtract-button {
        line-height: 2rem;
      }
      button {
        font-size: 2rem;
        @include for-phone-only {
          font-size:1.5rem;
        }
      }
    }
  }

  .accessories {
    display: none;
    padding:0px;
    margin:0px;

    &.open {
      display: block;
      @include for-phone-only {
        display:none;
      }
      .row {
        background: $special-background;
        border-top: 1px dotted $special-background-border;
      }
      .row:last-child {
        border-bottom: 1px dotted $special-background-border;
      }
    }
  }
}

.cost-extras, .cost-total {
  width:100%;
  margin-top:50px;
  margin-bottom:50px;
  font-size: 1.7rem;
  @include for-tablet-portrait-lower {
    font-size: 0.8rem;
  }
  // padding:0px;
  // margin:0px;
  // .row {
  //   box-sizing: border-box;
  //   // padding:0px 40px;
  //   // padding-left: 70px;
  //   // padding-right: 70px;
  // }
  .row {
    border: none !important;
  }
  a {
    font-size:initial;
  }
  .column:first-child {
    width:50%;
    text-align:left;
    margin: 0px;
    padding: 0px;
  }
  .column:last-child {
    width:50%;
    margin: 0px;
    text-align:right;
    padding: 0px;
  }
}

.button-full {
  background-color: $yellow;
  color: white;
  width:100%;
  display:block;
  margin:auto;
  border: 1px solid $yellow;
  font-size:17px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: $font-stack;
  font-weight:normal;
  cursor:pointer;
  max-width:230px;
  box-sizing: border-box;
  text-align:center;

  &:active, &:hover {
    background-color: $yellow;
    color: white;
  }
}

.button-border {
  background-color: white;
  color: $yellow;
  width:100%;
  display:block;
  text-align:center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid $yellow;
  border-top: 2px;
  border-color: $yellow;
  border-style: solid;
  border-width: 2px;
  font-family: $font-stack;
  font-weight:normal;
  cursor:pointer;
  max-width:230px;
  box-sizing: border-box;
  &:hover {
    color: $yellow;
  }

  &.right {
    float:right;
  }

  &.fullwidth {
    max-width:100%;
  }
}

.request-button {
  color: white;
  border: none;
  background-color: #FABA0C;

  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkoutProductImage {
  width:90%;
  max-width:120px;
  object-fit: contain;
  display: block;
}

.mobileExtra {
  display:none;
  &.mobileExtraOpen {
    display:block;
  }
}

