.background-wrapper {
  background-color: black;
  height: 750px;
  background-image: url("/static/images/background-image.png");
  background-repeat: none;
  background-size: cover;
}

.result-item {
  h4 {
    margin-bottom: 0px;
  }
}
.searchresult-title {
  h2 {
    margin-bottom: 1px;
  }
}
