.background-wrapper {
  background-color: black;
  height: 750px;
  background-image: url("/static/images/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -630px;
}

.banner {
  text-align: center
}
