
$font-stack: 'Tyros Pro';
$primary-color: #333;

$yellow: #FABA0C;
$red: #FF0000;
$input-color: #D3D3D3;
$black: rgb(24, 32, 36);
$blue: #19303B;
$white: white;
$grey: #D6D6D6;
// $black: black;

$border-width: 1px;
$border-radius: 3px;

$nav_margin: 60px;
$default-margin: 0%;
$default-margin-top: 30px;

// // Standard Desktop
// $default-margin-top-st-desktop: 70px;
// $default-margin-left-st-desktop: 5%;
// $default-margin-right-st-desktop: 5%;
// $default-width-st-desktop: 90%;

// Big desktop
$default-margin-top-big-desktop: 120px;
$default-margin-left-big-desktop: 10%;
$default-margin-right-big-desktop: 10%;
$default-width-big-desktop: 100%;

// // Mobile
// $default-margin-top-mobile: 70px;
// $default-margin-left-mobile: 10%;
// $default-margin-right-mobile: 10%;
// $default-width-mobile: 80%;

// // Tablet
// $default-margin-top-tablet: 70px;
// $default-margin-left-tablet: 5%;
// $default-margin-right-tablet: 5%;
// $default-width-tablet: 90%;

