@import "./_variables";
@import "./_mixins";
@import "./_fonts";
@import "./_icons";

// defaults
@import "_defaults";

// External libs
@import "~react-dates/lib/css/_datepicker.css";

// Components
@import "modules/components/datepicker";
@import "modules/components/categoryTiles";
@import "modules/components/banner";
@import "modules/components/tiles";
@import "modules/components/checkoutitem";
@import "modules/components/finalcheckout";
@import "modules/components/footer";
@import "modules/components/modal";
@import "modules/components/orderform";
@import "modules/components/selectionoverview";
@import "modules/components/select";
@import "modules/components/header";
@import "modules/components/menuContainer";
@import "modules/components/searchInput";
@import "modules/components/phonenumbers";
@import "modules/components/topSearch";
@import "modules/components/searchForm";
@import "modules/components/searchFormWrapper";
@import "modules/components/signup";
@import "modules/components/localSearch";
@import "modules/components/productTiles.scss";

// Pages
@import "modules/pages/checkout";
@import "modules/pages/about";
@import "modules/pages/contact";
@import "modules/pages/detail";
@import "modules/pages/index";
@import "modules/pages/category";
@import "modules/pages/productGroup.scss";

// Override stripe form elements
.StripeElement {
  box-sizing: border-box !important;
  font-family: "Tyros Pro" !important;
  width: 100% !important;
  border: 2px solid #d3d3d3 !important;
  color: #19303b !important;
  padding: 10px !important;

  &.is-invalid {
    border: 2px solid red !important;
  }
}

.StripeElement--invalid {
  border: 2px solid red !important;
}

@include for-desktop-up {
  .container {
    max-width: 1145px !important;
  }
}
@include for-big-desktop-up {
  .container {
    max-width: 1450px !important;
  }
}

// Generic styles
.yellow-button {
  background-color: $yellow;
  color: $white;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
  display: block;
  align-items: center;
  justify-content: center;
  max-width: 320px;

  &:hover {
    color: #fff;
  }
}

.yellow-button-sqaure {
  background-color: $yellow;
  color: $white;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 0px;
  cursor: pointer;
  font-size: 10px;
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 320px;

  &:hover {
    color: #fff;
  }
}

// Generic styles
.yellow-button-outline {
  background-color: white;
  color: $yellow;
  border: 1px solid $yellow;
  padding: 6px;
  border-radius: 0px;
  cursor: pointer;
  font-size: 10px;
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 320px;

  &:hover {
    color: $yellow;
  }
}

.yellow-button-outline.active {
  background-color: $yellow;
  color: white;
  border: 1px solid $yellow;
  padding: 6px;
  border-radius: 0px;
  cursor: pointer;
  font-size: 10px;
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 320px;

  &:hover {
    color: white;
  }
}

.yellow-text {
  color: $yellow;
}

h1.main-title, h2.main-title, h3.main-title {
  border-bottom: solid 0.3px $grey;
  padding-bottom: 20px;
}
h1.main-title-with-price {
  padding-bottom: 1px;
  margin-bottom: 1px;
}
span.main-title-price {
  display: block;
  width: 100%;
  border-bottom: solid 0.3px $grey;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

hr.page-divide {
  border: 0.465537px solid $grey;
}

.text-right {
  text-align: right;
}

h2.section-title {
  margin-bottom: 1px;
  overflow: hidden;
}

.similar-toys {
  margin-top: 100px;
}

.banner {
  height: 100%;
}

.products {
  margin-bottom: 20px;
  margin-top: 20px;

  div[class^="col-"] {
    margin-bottom: 20px;
  }

  .product {
    width: 100%;
    height: 100%;
    min-height: 150px;
    position: relative;
    top: 0px;
    left: 0px;

    .unavailable {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $yellow;
      opacity: 0.1;
      z-index: 2000;
      margin: 0px;
      padding: 0px;
      top: 0px;
      left: 0px;
    }

    img {
      width: 100%;
      max-width: 319px;
      height: 214px;
      object-fit: cover;
      z-index: 10;
      border-radius: 5px;
    }

    h4 {
      margin-top: 4px;
      display: block;
      margin-bottom: 2px;
      position: relative;
      z-index: 10;
      top: 0px;
    }

    span {
      font-size: 12px;
      color: $input-color;
      font-weight: bold;
      position: relative;
      z-index: 10;
    }
  }
}

.sweet-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showmore {
  color: $yellow;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about img {
  width: 100%;
}

.order-form {
  min-width: 320px;
  max-width: 350px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.white-bg {
  background-color: #FFF;
}

.h-100 {
  height: 100%;
}

.uppercase {
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .products {
    .product {
      img {
        max-width: 100%;
        height: 214px;
      }
    }
  }
}

@media (max-width: 768px) {
  .products {
    .product {
      img {
        max-width: 100%;
        height: 214px;
      }
    }
  }
}
