.banner {
  text-align: center;
  margin-bottom: 80px;

  img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 260px;
    position: relative;
    z-index: -1;
    object-fit: cover;
  }

  .yellow-button {
    margin-top: -105px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 3;
    line-height: 25px;
    font-family: 'Tyros Pro';
    font-style: normal;
    font-size: 18px;
    min-width: 475px;
  }
}

.banner-container {
  position: relative;
  text-align: center;
}

.banner-text {
  padding: 20px;
  width: 70%;
  margin: 15px 15%;
  z-index: 3;
  color: white;
  position: absolute;
  font-size: 32px; 
}

.img-container {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  height: 260px;
  border-radius: 5px;
}

.bannerTitle {
  margin-bottom: 40px;
}


@media (max-width: 678px) {
  .banner-text {
    width: 100%;
    margin: 15px;
    font-size: 22px; 
  }
}
