$slideHeight: 240px;
.slider {
  margin-top: 40px;
  margin-bottom: 40px;
  .category-tile {
    background-position: center center;
    height: $slideHeight;
    display: flex;
    justify-content: center;
    background-size: cover;

    span {
      position: absolute;
      bottom: 30px;
      color: white;
    }
  }
}

.category-wrapper {
  margin-top: 80px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.slider-slide {
  margin: 0px 10px !important;
  height: $slideHeight;
  text-align: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.arrow-icon {
  width: 20px;
  height: 50px;
}

.right-arrow {
  position: relative;
  left: 80px;
}

.left-arrow {
  position: relative;
  left: -80px;
}

.right-arrow .icon {
  object-fit: contain;
  height: 100px;
  width: 40px;
  cursor: pointer;
}

.left-arrow .icon {
  object-fit: contain;
  height: 100px;
  width: 40px;
  cursor: pointer;
}

.category-tile {
  min-height: 180px;
}

@media (max-width: 1325px) {
  .slider-container {
    max-width: 65vw !important;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .slider-container {
    max-width: 100% !important;
  }
  .right-arrow {
    display: none;
  }

  .left-arrow {
    display: none;
  }
}
