.checkout-configure {

  h1 {
    position: relative;
  }


  h1 > span, h1 > span a {
    color: $grey;
    font-weight: normal;
  }

  img.product-item {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    height: 89px;
    width: auto;
  }

  .left {
    float: left;
  }
}

.checkout-overview-modal {

  font-size: 24px;


  .close {
    color: white;
    position: absolute;
    top: 10%;
    left: 10%;
    cursor: pointer;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
  }
  .grey-button-outline {
    background: #FFFFFF;
    border: 2px solid $grey;
    color: $grey;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
    width: 100%;
    padding: 4px;
    margin-bottom: 20px;
  }
  .yellow-outline-button {
    background: #FFFFFF;
    border: 2px solid $yellow;
    color: $yellow;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
    padding: 4px;
    width: 100%;
  }
}