.checkout-overview {

  h1 {
    position: relative;
  }

  h1 > button {
    float: right;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12.7348px;
    line-height: 18px;
    font-weight: bold;
    width: 250px;
  }

  .pricing {
    text-align: right;
  }
  .pricing p{
    font-size: 10px;
    line-height: 14px;
  }
  .pricing h2 {
    font-size: 20px;
    font-weight: normal;
    line-height: 27px;
  }
  button.configure-solid-yellow{
    height: 29.31px;
    background: $yellow;
    border: 1.17241px solid $yellow;;
    box-sizing: border-box;
    border-radius: 1.17241px;
    width: 100%;
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: 160px;
  }
}