.CalendarDay__selected_span {
  background: $yellow;
  color: #fff;
  border: $yellow;
  &:hover {
    background: $yellow;
    color: #fff;
    border: $yellow;
  }
}

.CalendarDay__hovered_span {
  background: $yellow;
  color: #fff;
  border: $yellow;
  &:hover {
    background: $yellow;
    color: #fff;
    border: $yellow;
  }
}

.CalendarDay__default {
  &:hover {
    background: $yellow;
    color: #fff;
    border: $yellow;
  }
}

.CalendarDay__selected_start {
  background: $yellow;
  border: $yellow;
  color: #fff;
}

.CalendarDay__selected_end {
  background: $yellow;
  border: $yellow;
  color: #fff;
}
.CalendarDay__selected {
  background: $yellow;
  color: #fff;
  border: $yellow;
  &:hover {
    background: $yellow;
    color: #fff;
    border: $yellow;
  }
}

.DateRangePicker {
  font-family: $font-stack !important;
  z-index: 99999;
}

.DateRangePickerInput__block {
  display: flex;
  justify-content: space-between;
}

.DateInput {
  width: 49%;
  font-size: 11px;
  font-weight: bold;
  color: $blue;
  font-family: $font-stack;
  input {
    height: 38px;
  }
  .DateInput_input {
    @include placeholder {
      font-size: 11px;
      font-weight: normal;
      color: #d3d3d3;
      font-family: $font-stack;
    }

    background-color: white;
    border-color: hsl(0,0%,80%);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
  }
}

.DateRangePickerInput_arrow_svg {
  display: none;
}

.DateRangePickerInput__withBorder {
  border: none;
}

.DateInput_fang {
  top: 56px !important;
}

.validationWrapper {
  display: flex;
  justify-content: space-between;
  div {
    width: 48%;
    font-size: 12px;
    color: red;
  }
}

table tr td {
  padding-right: 0px !important;
  font-size: 16px;
}
