.footer {
  padding-bottom: 30px;
  padding-top: 30px;
  margin-top: 50px;

  h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      line-height: 1.8rem;
      a {
        text-decoration: none;
        color: black;
        font-size: 14px;
        font-weight: normal;
      }
    }
  }

  .logo-line {
    margin-top: 70px;
    border-top: 0.25px solid #bdbdbd;
  }

  .logo {
    margin-top: 20px;
    height: 35px;
  }

  .copyright-wrapper {
    width: 100%;
    text-align: center;
    color: #c4c4c4;
    font-family: Tyros Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
