.searchedit {
  margin-top:70px;
  padding-top:20px;
  padding-bottom:20px;
  // padding-left: 5%;
  // padding-right: 5%;
  @include box-shadow(0px 4px 10px rgba(0, 0, 0, 0.05));
  .form-inline{
    justify-content: flex-start;
    .edit-row{
      @include for-phone-only {
        width: 23%;
        padding-right:2%;
      }
      width: 120px;
      padding-right: 20px;
    }
    .other-wrapper{
      z-index: 0;
      @include for-phone-only {
        width:50%;
      }
    }
    .DateInput{
      @include for-phone-only {
        width:46%;
        margin-right:2%;
      }
      border: solid 1px #D3D3D3;
      border-radius:3px;
      width: 120px;
      margin-right: 20px;
      min-height:36px;
    }
    .DateInput input {
      height: auto;
      box-sizing: border-box;
      font-size:12px;
      text-align: center;
      padding: 5px 0px 0px 0px;
      margin-top: 1px;
    }
    .DateInput_input__focused {
      border: none;
    }
    .css-1g6ulci-singleValue{
      width: 100%;
      text-align:center;
      left: -2px;
    }
    .css-1hwfws3{
      padding: 0px 6px;
    }
    .css-bgy2mi-control{
      // min-height:auto;
      padding:0;
    }
    .css-99oc87-placeholder{
      color:#19303B !important;
      width: 100%;
      text-align:center;
      left: -2px;    }
  }
}
