.per-day-text {
  font-size: x-small;
  color: #c7c7c7;
  margin: 4px 0px 12px 0px;
}

.description {
  position: relative;
  margin: 16px 0px;
  height: 80px;
  overflow: hidden;
}

.tag-line {
  padding: 0.784762px 19.619px;
  width: 82.4px;
  height: 18.83px;
  left: 0px;
  top: 10px;
  background: #fab900;
  align-self: flex-end;
  margin: 16px 0px;
  font-weight: 800;
  font-size: 9.41714px;
  line-height: 180%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.counter {
  border: 1.56px solid #c7c7c7;
  box-sizing: border-box;
  width: 107.12px;
  height: 35.71px;
  border-radius: 40px;
  justify-content: space-evenly;
  display: flex;
}

.plus-minus {
  font-size: 1.5rem;
  color: #fab900;
  line-height: 30px;
  cursor: pointer;
}

.value {
  line-height: 35px;
  font-weight: 500;
  font-size: 19.5px;
  margin: 0px 16px;
}

.product-tile {
  padding: 25px 25px;
}

.product-img {
  width: 100%;
  min-height: 150px;
  position: relative;

  img {
    width: 100%;
    height: 214px;
    object-fit: cover;
    z-index: 10;
    border-radius: 5px;
  }
}

.add-btn {
  padding: 8px 5px;
  width: 100%;
  height: 36px;
  background: #fab900;
  color: white;
  text-align: center;
  cursor: pointer;
}
