.form-wrapper {
  position: relative;
  //height: 82vh;
}

.searchform-wrapper {
  background-color: white;
  position: relative;
  padding: 35px;
  margin-top: 20vh;
  margin-bottom: 40px;
  border-radius: 5px;
  @include for-tablet-portrait-up {
    width: 500px;
  }
  @include for-phone-only {
    width: 100%;
  }

  h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
  }

  h3 {
    font-style: normal;
    font-weight: 300;
    font-size: 17.2px;
    line-height: 30px;
  }
}

@media (max-height: 815px) {
  // .form-wrapper {
  //   height: 100vh;
  // }
  .searchform-wrapper {
    margin-top: 80px;
  }
}
