@import '../../assets/scss/_variables';
@import '../../assets/scss/_mixins';

.nav-base {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  .logo-wrapper {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 70px;
    .logo {
      margin-top: 5px;
      margin-left:40px;
      // @include transition(opacity 1s ease-in-out);
    }
    .search {
      margin-left: 30px;
    }
  }
  .nav {
    display: flex;
    align-items:center;
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      width: 300px;
      li {
        margin-left: 50px;
        margin-right: 20px;
        display: inline-block;
        list-style: none;
        a {
          text-decoration: none;
        }
      }
    }
    margin-right: 25px;
  }
}

.transparent {
  position: absolute;
  color: $white;
  @include transition(background-color 300ms linear);
  a {
    color: $white;
  }
}

.fixed {
  position: fixed;
  color: $black;
  background-color: $white;
  @include transition(background-color 300ms linear);
  @include box-shadow(0px 2px 21px 0px rgba(196,196,196,0.44));
  a {
    color: $black;
  }
}