@import '../../assets/scss/_variables';
@import '../../assets/scss/_mixins';

.nav-base {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  .logo-wrapper {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 70px;
    width: 75%;
    @include for-tablet-portrait-up {
      width: 300px;
    }
    .logo {
      margin-top: 5px;
      margin-left:40px;
    }
    .search {
      margin-left: 30px;
    }
  }
  .burger-menu {
    border:none;
    background-color: transparent;
    font-size: 25px;
    margin-right:20px;
    cursor: pointer;
  }
  .nav {
    &.responsive {
      position:absolute;
      top: 70px;
      background-color:grey;
      width: 100%;
      ul {
        padding:0;
        margin:0;
        width: 100%;
        li {
          list-style:none;
          width: 100%;
        }
      }
    }
      // display: none;

    @include for-tablet-portrait-up {
      align-items:center;
      display:flex;
      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 332px;
        li {
          margin-left: 50px;
          margin-right: 20px;
          display: inline-block;
          list-style: none;
          a {
            text-decoration: none;
          }
        }
      }
      margin-right: 25px;
    }
  }
}

.transparent {
  position: absolute;
  color: $white;
  @include transition(background-color 300ms linear);
  a {
    color: $white;
  }
  .nav {
    &.responsive {
      background-color:transparent;
      color:white;
    }
  }
  .burger-menu {
    color: white;
  }
}

.fixed {
  position: fixed;
  color: $black;
  background-color: $white;
  @include transition(background-color 300ms linear);
  @include box-shadow(0px 2px 21px 0px rgba(196,196,196,0.44));
  .nav {
    &.responsive {
      background-color:white;
      color:black;
    }
  }
  .burger-menu {
    color: black;
  }
  a {
    color: $black;
  }
}

.form-block{
  display:block;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-right: 10px;
  input{
    border-radius: $border-radius;
    box-sizing:border-box;
    font-family: $font-stack;
    width: 100%;
    border: $border-width solid $input-color;
    color: $blue;
    padding: 10px;
    @include placeholder {
      color: $input-color;
    }
    .inline{
      display: inline
    }
  }
  .error {
    border: $border-width solid $red;
    color: $red;
  }
  span{
    color: $red;
    font-size: 12px;
  }
}

.search-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items:center;
}

.search-button{
  color: $white;
  border: none;
  background-color: $yellow;
  height: 40px;
  width: 40px;
  border-radius: $border-radius;
  cursor: pointer;
  font-size: 18px;
  display:flex;
  align-items:center;
  justify-content: center;
}

.cart-wrapper {
  display: flex;
  align-items: center;
  img {
    margin-right:5px;
  }
}

.input-wrapper {
  width: inherit;
}

.burger-menu {
  @include for-tablet-portrait-up {
    display:none;
  }
}