
$font-stack: 'Tyros Pro';
$primary-color: #333;

$yellow : #FAB900;
$red: #FF0000;
$input-color: #D3D3D3;
$black: rgb(24, 32, 36);
$blue: '#19303B';

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}