@import '_variables';
@import '_mixins';

html {
  margin:0;
  padding:0;
}

body {
  font-family: $font-stack;
  color: $black;
  margin:0;
  padding:0;
  background-color: $white;
}

h1 {
  font-family: $font-stack;
  color: $black;
  font-size: 36;
  font-weight: bold
}

p {
  font-family: $font-stack;
  color: $black;
  font-size:18;
}

a {
  color: $blue;
  text-decoration: none;
}

a:hover
{
   color:$blue;
   text-decoration:none;
   cursor:pointer;
}

textarea, select, input, button { outline: none; }

.form-inline {
  display:flex;
  justify-content: space-between;
  .form-block{
    width:49%;
  }
}

.ReactModal__Overlay{
  z-index:2;
}