@font-face {
  font-family: 'Tyros Pro';
  src: url('/static/fonts/Tyros/TyrosPro-Heavy.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Tyros Pro';
  src: url('/static/fonts/Tyros/TyrosPro-Medium.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Tyros Pro Outline';
  src: url('/static/fonts/Tyros/TyrosPro-Outline.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-Outline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tyros Pro Medium Outline';
  src: url('/static/fonts/Tyros/TyrosPro-MediumOutline.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-MediumOutline.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Tyros Pro';
  src: url('/static/fonts/Tyros/TyrosPro-SemiBoldItalic.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Tyros Pro';
  src: url('/static/fonts/Tyros/TyrosPro-LightItalic.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Tyros Pro Outline';
  src: url('/static/fonts/Tyros/TyrosPro-BoldOutline.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-BoldOutline.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Tyros Pro';
  src: url('/static/fonts/Tyros/TyrosPro-MediumItalic.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Tyros Pro';
  src: url('/static/fonts/Tyros/TyrosPro-Bold.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Tyros Pro';
  src: url('/static/fonts/Tyros/TyrosPro-BoldItalic.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Tyros Pro';
  src: url('/static/fonts/Tyros/TyrosPro-SemiBold.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Tyros Pro';
  src: url('/static/fonts/Tyros/TyrosPro-HeavyItalic.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Tyros Pro';
  src: url('/static/fonts/Tyros/TyrosPro-Light.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Tyros Pro';
  src: url('/static/fonts/Tyros/TyrosPro-Regular.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tyros Pro';
  src: url('/static/fonts/Tyros/TyrosPro-Italic.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'oceanpremium';
  src: url('/static/fonts/Fontello/oceanpremium.eot?47672881');
  src: url('/static/fonts/Fontello/oceanpremium.eot?47672881#iefix') format('embedded-opentype'),
       url('/static/fonts/Fontello/oceanpremium.woff2?47672881') format('woff2'),
       url('/static/fonts/Fontello/oceanpremium.woff?47672881') format('woff'),
       url('/static/fonts/Fontello/oceanpremium.ttf?47672881') format('truetype'),
       url('/static/fonts/Fontello/oceanpremium.svg?47672881#oceanpremium') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "oceanpremium";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-search:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-complete:before { content: '\e802'; } /* '' */
.icon-cart:before { content: '\e803'; } /* '' */
.icon-attention:before { content: '\e804'; } /* '' */
.icon-x:before { content: '\e805'; } /* '' */
.icon-not-available:before { content: '\e806'; } /* '' */
.icon-help:before { content: '\e807'; } /* '' */