@font-face {
  font-family: 'Tyros Pro';
  src: url('/static/fonts/Tyros/TyrosPro-Heavy.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Tyros Pro';
  src: url('/static/fonts/Tyros/TyrosPro-Medium.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Tyros Pro Outline';
  src: url('/static/fonts/Tyros/TyrosPro-Outline.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-Outline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tyros Pro Medium Outline';
  src: url('/static/fonts/Tyros/TyrosPro-MediumOutline.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-MediumOutline.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Tyros Pro';
  src: url('/static/fonts/Tyros/TyrosPro-SemiBoldItalic.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Tyros Pro';
  src: url('/static/fonts/Tyros/TyrosPro-LightItalic.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Tyros Pro Outline';
  src: url('/static/fonts/Tyros/TyrosPro-BoldOutline.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-BoldOutline.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Tyros Pro';
  src: url('/static/fonts/Tyros/TyrosPro-MediumItalic.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Tyros Pro';
  src: url('/static/fonts/Tyros/TyrosPro-Bold.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Tyros Pro';
  src: url('/static/fonts/Tyros/TyrosPro-BoldItalic.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Tyros Pro';
  src: url('/static/fonts/Tyros/TyrosPro-SemiBold.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Tyros Pro';
  src: url('/static/fonts/Tyros/TyrosPro-HeavyItalic.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Tyros Pro';
  src: url('/static/fonts/Tyros/TyrosPro-Light.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Tyros Pro';
  src: url('/static/fonts/Tyros/TyrosPro-Regular.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tyros Pro';
  src: url('/static/fonts/Tyros/TyrosPro-Italic.woff2') format('woff2'),
      url('/static/fonts/Tyros/TyrosPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}