@import '../../assets/scss/_variables';
@import '../../assets/scss/_mixins';

.detail-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  .active {
    display:inline;
    @include transition(visibility 0s, opacity 0.5s linear);
  }
}
.fullWidthImage{
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center center;
  margin-top: 8%;
  @include for-phone-only {
    height: 250px;
  }

  @include for-tablet-portrait-up {
    height: 350px;
  }

  @include for-tablet-landscape-up {
    height: 50vh;
  }
}

.description {
  width:35%;
  @include for-phone-only {
    width:100%;
  }
  @include for-tablet-portrait-up {
    width: 55%;
  }
  @include for-tablet-landscape-up {
    width: 55%
  }
  @include for-desktop-up {
    width: 65%
  }
  h2 {
    font-weight: normal;
    font-size:20px;
  }
  span {
    font-size:16px;
  }
}

.form {
  display: none;
  width:60%;
  @include for-phone-only {
    width:100%;
  }
  @include for-tablet-portrait-up {
    width:40%;
  }
  @include for-tablet-landscape-up {
    width: 40%
  }
  @include for-desktop-up {
    width: 30%
  }
  height:600px;
  .validation{
    font-size:12px;
    color:red;
  }
    #error{
      border:solid 2px red;
      border-radius:3px;
      margin: -1px;
      width: 101%;
      padding:5px;
    }
    .error{
      .css-1tnz03w-control{
        border: solid 2px red;
      }
    }
  // #deliveryDate{

  // }
  .search-button-full {
    width: 100%;
    background-color: $yellow;
    border: none;
    color: white;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 25px;
    }
  h3 {
    font-weight:normal;
    font-size:20px;
  }
  .searchedit{
    padding-left: 0;
    padding-right: 0;
    margin-top:0;
    @include box-shadow(none)
  }
  .form-inline{
    justify-content: space-between !important;
    .other-wrapper {
      width: 100%;
      margin-top:20px;
      @include for-phone-only {
        width:100% !important;
      }
      @include for-tablet-portrait-up {
        width:100% !important;
      }
    }
    .label-wrapper{
      display:flex;
      justify-content: space-between;
    }
    flex-wrap:wrap;
      .DateInput{
        width:48% !important;
        padding:0 !important;
        margin: 0!important;
      }
  }
  label{
    font-size: 12px;
    font-weight:bold;
    width: 48% !important;
  }
  .edit-row{
    padding:0 !important;
    width: 48% !important;
    &.accessory{
      width:100% !important;
      label{
        width: 70% !important;
        // width:auto !important;
    font-size: 12px;
    font-weight:bold;
  }
    }
  }
}

.titlewrapper{
  display:flex;
  justify-content: space-between;
  h4 {
    color: $yellow;
    font-weight:normal;
  }
}

.thumbnailImage{
  background-size: cover;
  background-position: center center;
  height: 150px;
  width:100%;
}

.title-wrapper{
  display:flex;
  justify-content: space-between;
  width:100%;
  margin-top: 25px;
}

.paragraph-wrapper {
  h3 {
    font-size:12px;
    font-weight:bold;
  }
  .paragraph {
    border-bottom: solid $grey 1px;
    padding-bottom: 5px;
    &.no-line{
      padding-top:12px;
      border:none;
      height: 20px;
    }
  }
  .date-wrapper {
    display:flex;
    width:100%;
    justify-content: center;
    flex-direction: row;
    .date-element{
      font-weight:lighter;
      text-align: center;
      display:flex;
      flex-direction: column;
      padding:15px;
      justify-content: center;
    }
  }
  .content-wrapper {
    display:flex;
    justify-content: space-between;
    width:100%;
    .first {
      width:80%;
      &.bold{
        font-weight:bold;
      }
    }
    .second{
      &.bold{
        font-weight:bold;
      }
    }
    div{
      font-size:12px;
      font-weight:normal;
    }
  }
}

.configure {
  cursor:pointer;
  border:none;
  background:transparent;
  color: $yellow;
  padding:0 0 0 0;
  margin:0;
  margin-top:10px;
  font-family: $font-stack;
  font-weight:bold;
}