@import '../../assets/scss/_variables';
@import '../../assets/scss/_mixins';

.page-wrapper {
  padding-top: 70px+$default-margin-top;
  padding-left: $default-margin;
  padding-right: $default-margin;

  min-height: 100vh;

  .result-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: $default-margin;
    margin-right: $default-margin;
    flex-wrap: wrap;

    .searchresult-title {
      width: 100%;
    }

    .result-item {
      width: 32.6%;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 0.7%;

      @include for-phone-only {
        width: 49.3%;
      }

      @include for-tablet-portrait-up {
        width: 32.6%;
      }

      @include for-tablet-landscape-up {
        width: 24.3%;
      }

      @include for-desktop-up {
        width: 19.3%;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate li {
  display: inline-block;
}