.page-wrapper {
  padding-top: 100px !important;
  h2{
    font-weight:normal;
  }
}

.flex-row{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 250px;
}

.support {
  width:30%;
  span{
    font-size:12px;
  }
}