.product-detail-description {
  font-weight:lighter;

  a {
    color: $yellow;
  }

  h2 {
    font-weight: normal;
    font-size:20px;
  }
  span {
    font-size:16px;
  }
}

.form {

  border: solid 0.25px #D6D6D6;
  padding: 25px;
  width: 100%;
  min-height:250px;

  .validation{
    font-size:12px;
    color:red;
  }

  #error{
    border:solid 2px red;
    border-radius:3px;
    margin: -1px;
    width: 101%;
    padding:5px;
  }
  .error{
    .css-1tnz03w-control{
      border: solid 2px red;
    }
  }

  .search-button-full {
    width: 100%;
    background-color: $yellow;
    border: none;
    color: white;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 25px;
  }

  .searchedit{
    padding-left: 0;
    padding-right: 0;
    margin-top:0;
    @include box-shadow(none)
  }

  .form-inline{
    justify-content: space-between !important;
    .other-wrapper {
      z-index: 4000;
      width: 100%;
      margin-top:20px;
      @include for-phone-only {
        width:100% !important;
      }
      @include for-tablet-portrait-up {
        width:100% !important;
      }
    }
    .label-wrapper{
      display:flex;
      justify-content: space-between;
    }
    flex-wrap:wrap;
      .DateInput{
        width:48% !important;
        padding:0 !important;
        margin: 0!important;
      }
  }
  label{
    font-size: 11px;
    font-weight:bold;
    width: 48% !important;
    text-transform: uppercase;
  }
  .edit-row{
    padding:0 !important;
    width: 48% !important;
    &.accessory{
      width:100% !important;
      label{
        width: 70% !important;
        font-size: 12px;
        font-weight:bold;
      }
    }
  }
}

.accessories-wrapper{
  width: 50%;
  min-height: 200px;
}

.thumbnailImage{
  background-size: cover;
  background-position: center center;
  height: 150px;
  width:100%;
}

.paragraph-wrapper {
  h3 {
    font-size:12px;
    font-weight:bold;
  }
  .paragraph {
    border-bottom: solid $grey 1px;
    padding-bottom: 5px;
    &.no-line{
      padding-top:12px;
      border:none;
      height: 20px;
    }
  }
  .date-wrapper {
    display:flex;
    width:100%;
    justify-content: center;
    flex-direction: row;
    .date-element{
      font-weight:lighter;
      text-align: center;
      display:flex;
      flex-direction: column;
      padding:15px;
      justify-content: center;
    }
  }
  .content-wrapper {
    display:flex;
    // justify-content: space-between;
    width:100%;
    .first {
      width:40%;
      @include for-phone-only {
        padding-right: 4px;
      }
      &.bold{
        font-weight:bold;
      }
    }
    .second{
      width:40%;
      &.bold{
        font-weight:bold;
      }
    }
    .third{
      width:20%;
      text-align:right;
      &.bold{
        font-weight:bold;
      }
    }
    .last {
      text-align:right;
      width:60%;
    }
    div{
      font-size:12px;
      font-weight:normal;
    }
  }
}

.configure {
  cursor:pointer;
  border:none;
  background:transparent;
  color: $yellow;
  padding:0 0 0 0;
  margin:0;
  margin-top:10px;
  font-family: $font-stack;
  font-weight:bold;
}

.item-wrap{
  display: flex;
  flex-wrap: wrap;
}

.button-wrapper {
  .previous-button{
    width: 48%;
    background-color: white;
    border: solid $yellow 2px;
    color: $yellow;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 25px;
    margin-right:2%;
  }
  .next-button{
    width: 48%;
    background-color: $yellow;
    border: none;
    color: white;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 25px;
    margin-left:2%;
  }
}
.big-counter {
  display:flex;
  align-items:center;
  justify-content: center;
}

.subtract-button {
  box-sizing: border-box;
  background: #fff;
  border: none;
  color: $grey;
}
.add-button {
  box-sizing: border-box;
  background: #fff;
  border: none;
  color: $grey;
}
.center {
  box-sizing: border-box;
  display:inline-block;
  color: $grey;
}
.quantity {
  box-sizing: border-box;
  color: $yellow;
}

.quantity-wrapper {
  .item-wrap {
    text-align:center;
    display: block;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .subtract-button {
    font-size: 50px;
    width: 50px;
    height: 50px;
  }
  .add-button {
    font-size: 50px;
    width: 50px;
    height: 50px;
    color: $grey;
  }

  .quantity {
    font-size: 60px;
    color: $yellow;
  }
}

.accessories-wrapper {
  width:100%;
  ul.accessories {
    list-style: none;
    width:100%;
    margin:0px;
    padding:0px;

    li {
      min-height: 60px;
      height: auto;
      span {
        display: inline-block;
        box-sizing: border-box;
        height:100%;
        line-height:130%;
      }
      width:100%;
      display: block;
      margin-bottom:20px;
      img {
        width: 25%;
        @include for-phone-only {
          width: 24%;
        }
      }
      .extraAccessoryImage {
        width: 70px;
        height:50px;
        @include for-phone-only {
          width: 60px;
          height:50px;
        }
      }
      .product-detail-description {

        .title {
          font-weight: bold;
          font-size: 0.7rem;
        }
        width: 40%;
        padding:1em;
        font-size: 0.7rem;
        @include for-phone-only {
          width: 28%;
          padding:1em;
          padding-right: 0px;
          font-size: 0.7rem;
        }
      }

      .counter {
        display:flex;
        align-items:center;
        justify-content: center;
        text-align:center;
        float: right;
        width: 40%;
        height:100%;
        line-height:100%;
        @include for-phone-only {
          width: 52%;
          padding: 0px;
        }

        .subtract-button {
          font-size: 25px;
          // background:#ff00ff;
          height:100%;
          line-height:100%;
          padding: 0px;
          margin:0px;
          display:inline-block;
          width:30%;
        }
        .add-button {
          font-size: 25px;
          // background:#ff00ff;
          height:100%;
          line-height:100%;
          padding: 0px;
          margin: 0px;
          display:inline-block;
          width:30%;
        }
        // .center {
        //   background:#00ff00;
        //   display:inline-block;
        //   margin:0px;
        //   padding:0px;
        //   width:40%;
        //   height:100%;
        //   line-height:100%;
        //   text-align: center;
        // }
        .quantity {
          text-align: center;
          font-size: 25px;
          height:100%;
          line-height:100%;
          padding:0;
          margin:0;
          width:100%;
          display:inline-block;
        }
      }
    }
  }
}


.confirmationview {
  span{
    font-size: 20px;
  }
  .subview{
    margin-right:10%;
    margin-left:10%;
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items:center;
    span{
      font-size: 16px;
      padding-top:10px;
      padding-bottom:10px;
    }
    img {
      padding-top:20px;
      padding-bottom:20px;
    }
  }
  .search-button-full {
    background-color: $yellow;
    color: white;
    width:100%;
    display:block;
    margin:auto;
    border: solid 1px $yellow;
    font-size:17px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: $font-stack;
    font-weight:normal;
    cursor:pointer;
  }

  .search-button-border {
    background-color: white;
    color: $yellow;
    width:100%;
    display:block;
    text-align:center;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid 2px $yellow;
  }
}


.titlewrapper {
  h3 {
    width: 60%;
  }
}

.pricePerDayLabel {
  font-size: 0.7rem;
}
