.background-wrapper {
  background-color: black;
  height: 100vh;
  background-image: url("/static/images/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -630px;
}

@media (max-width: 678px) {
  .background-wrapper {
    height: 132vh;
  }
}
