.prodcut-group-background {
  position: relative;
  top: 70px;
  min-height: 512px;
  width: 100%;
  background-color: black;
  background-image: url("/static/images/product-group-static-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.products-container {
  margin-top: 125px;
}

.product-group-text {
  //height: 355px;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #19303b;
}

.text-group {
  padding-top: 16px;
}

.category-text {
  position: absolute;
  top: 150px;
  font-size: x-large;
  font-weight: 400;
  width: 43%;
  margin-left: 10%;
  color: white !important;
}

.product-group-heading {
  height: 42.78px;
  font-weight: 500;
  font-size: 36px;
  line-height: 49px;
  color: #19303b;
}

.tiles {
  position: relative;
  top: 100px;
}

.gallery-img {
  width: 100%;
}

@media (max-width: 768px) {
  .category-background {
    position: relative;
    top: 70px;
    min-height: 30vh;
    width: 100%;
    background-color: black;
    background-image: url("/static/images/product-group-static-img.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .category-text {
    position: absolute;
    top: 100px;
    font-size: small;
    font-weight: 400;
    width: 60%;
    margin-left: 10%;
    color: white !important;
  }
}

.grid {
  position: absolute;
  display: grid;
  grid-template-columns: 30% 65%;
  justify-content: space-evenly;
  top: 70px;
  z-index: 3;
  color: white;
  text-align: start;
}

.banner-left-title {
  margin: 0px;
}

.banner-right-text {
  margin: 0px;
  font-size: 1.2rem;
}

@media (max-width: 678px) {
  .background-wrapper {
    width: 100%;
    height: 100%;
  }
  .banner-left-title {
    margin: auto;
  }

  .banner-right-text {
    display: none;
  }
  .grid {
    display: block;
    width: auto;
    text-align: center;
  }
  .sub-heading {
    font-size: 1rem;
    font-weight: 200;
  }
}