.prodcut-group-background {
  position: relative;
  top: 70px;
  min-height: 512px;
  width: 100%;
  background-color: black;
  background-image: url("/static/images/product-group-static-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.products-container {
  margin-top: 125px;
}

.product-group-text {
  //height: 355px;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #19303b;
}

.text-group {
  padding-top: 16px;
}

.category-text {
  position: absolute;
  top: 150px;
  font-size: x-large;
  font-weight: 400;
  width: 43%;
  margin-left: 10%;
  color: white !important;
}

.product-group-heading {
  height: 42.78px;
  font-weight: 500;
  font-size: 36px;
  line-height: 49px;
  color: #19303b;
}

.tiles {
  position: relative;
  top: 100px;
}

.gallery-img {
  width: 100%;
}

@media (max-width: 768px) {
  .category-background {
    position: relative;
    top: 70px;
    min-height: 30vh;
    width: 100%;
    background-color: black;
    background-image: url("/static/images/product-group-static-img.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .category-text {
    position: absolute;
    top: 100px;
    font-size: small;
    font-weight: 400;
    width: 60%;
    margin-left: 10%;
    color: white !important;
  }
}

.grid {
  position: absolute;
  display: grid;
  grid-template-columns: 30% 65%;
  justify-content: space-evenly;
  top: 70px;
  z-index: 3;
  color: white;
  text-align: start;
}

.banner-left-title {
  margin: 15px;
}

.banner-right-text {
  margin: 15px;
  font-size: 1.2rem;
}

.recommended-accessories {
  max-height: "400px"!important;
  overflow: "scroll"!important;
}

.recommended-accessories .accessory-thumb{
  height: 100px;
  padding: 10px;
  background: #FFFFFF;
  border: 0.513606px solid #E0E0E0;
  box-sizing: border-box;
  box-shadow: 1.02721px 1.02721px 2.05442px rgba(0, 0, 0, 0.1);
  border-radius: 2.56803px;
  text-align: center;
}

.recommended-accessories .accessory-thumb.active{
  position: relative;
  background: $yellow;
  opacity: 0.5;
}
.recommended-accessories .accessory-thumb.active p {
  position: absolute;
  bottom: -5px;
  z-index: 4;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  padding: 0;
  color: white;
}
.recommended-accessories .accessory-thumb.active img.tick {
  position: absolute;
  top: 50%;
  z-index: 4;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
}

.recommended-accessories .accessory-thumb img{
  max-height: 80px!important;
}

.recommended-accessories p {
  font-size: 10px;
  line-height: 13px;
}

.recommended-accessories p.title {
  line-height: 14px;
}

.recommended-accessories p.from {
  line-height: 14px;
  color: #BDBDBD;
}

.rental-details {
  font-size: 10px;
}

.search-button-border {
  background-color: white;
  color: $yellow;
  width:100%;
  display:block;
  text-align:center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid 2px $yellow;
}

@media (max-width: 678px) {
  .background-wrapper {
    width: 100%;
    height: 100%;
  }
  .banner-left-title {
    margin: auto;
  }

  .banner-right-text {
    display: none;
  }
  .grid {
    display: block;
    width: auto;
    text-align: center;
  }
  .sub-heading {
    font-size: 1rem;
    font-weight: 200;
  }
}