h1.search-title {
  font-family: Tyros Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 49px;

  span {
    color: #faba0c;
  }
}

h3 {
  font-family: Tyros Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

h4 {
  font-family: Tyros Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 11.9138px;
  line-height: 16px;
}
