@import '../../assets/scss/_variables';
@import '../../assets/scss/_mixins';

.configuration-wrapper{
  .css-1pcexqc-container{
    width:150px;
  }
  display:flex;
  flex-direction: row;
  width: 45%;
  padding-left: 5%;
  justify-content: flex-start;
  align-items: center;
  margin-top:10px;
  margin-bottom:10px;
  label {
    font-size:12px;
    font-weight:bold;
    padding-right:10px;
  }
}

.configuration-modal{
  .input-wrapper{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .button-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    .save {
      font-family: $font-stack;
      font-size:12px;
      color: white;
      background-color: $yellow;
      border:solid 2px $yellow;
      min-width:150px;
      padding-top:10px;
      padding-bottom:10px;
      border-radius: 3px;
      margin:10px;
      font-weight:normal;
      cursor:pointer;
    }
    .cancel {
      cursor:pointer;
      margin:10px;
      font-weight:normal;
      font-family: $font-stack;
      min-width:150px;
      padding-top:10px;
      padding-bottom:10px;
      font-size:12px;
      color: $yellow;
      background-color:white;
      border: solid 2px $yellow;
      border-radius: 3px;
    }
  }
  h1{
    padding-left:5%;
    padding-right:5%;
  }
  span{
    font-size:14px;
  }
  .configuration-row{
    padding:5%;
    border-bottom: solid $grey 1px;
  }
}

.configuration-view{
  max-height: 400px;
  overflow:auto;
}