@import "../../../assets/scss/_variables";
@import "../../../assets/scss/_mixins";

.search-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: $nav_margin;

  .search-button {
    color: $white;
    border: none;
    background-color: $yellow;
    height: 40px;
    width: 40px;
    border-radius: $border-radius;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form-block {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-right: 10px;

    input {
      border-radius: $border-radius;
      box-sizing: border-box;
      font-family: $font-stack;
      width: 100%;
      border: $border-width solid $input-color;
      color: $blue;
      padding: 10px;

      @include placeholder {
        color: $input-color;
      }

      .inline {
        display: inline;
      }
    }

    .error {
      border: $border-width solid $red;
      color: $red;
    }

    span {
      color: $red;
      font-size: 12px;
    }
  }
}